@charset "UTF-8";
/*
https://www.notimedad.dev/flexbox-two-column-layout-fixed-sidenav/
*/
:root {
  --fbrot: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, 
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fmono: "SFMono-Regular", Consolas, Liberation Mono, Menlo, Courier, monospace;
  --cgelb: rgb(246, 211, 85);
  --wcontainer: 90rem;
  --pdcontainer: 6rem;
  --sidebar-width: 280px;
  --spacing: 4px;
  --border-width:0;
  --nav-hover-bg: #eee;
  --accordion-border-color:white;
  --accordion-active-summary-color: black;
  --accordion-close-summary-color: black;
  --accordion-open-summary-color: black;
  --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E"); }

pre[class*="language-"] {
  background-color: #f6f6f6; }

/**
 * Accordion (<details>)
 */
details {
  display: block;
  margin-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--accordion-border-color); }
  details summary {
    color: var(--accordion-close-summary-color);
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition); }
    details summary::-webkit-details-marker {
      display: none; }
    details summary::marker {
      display: none; }
    details summary::-moz-list-bullet {
      list-style-type: none; }
    details summary::after {
      display: block;
      width: 1rem;
      height: 1rem;
      float: right;
      transform: rotate(-90deg);
      background-image: var(--icon-chevron);
      background-position: center;
      background-size: 1rem auto;
      background-repeat: no-repeat;
      content: "";
      transition: transform var(--transition); }
    details summary:focus {
      outline: none;
      color: var(--accordion-active-summary-color); }
    details summary ~ * {
      margin-top: calc(var(--spacing) * 0.5); }
      details summary ~ * ~ * {
        margin-top: 0; }
  details[open] > summary {
    margin-bottom: calc(var(--spacing) * 0.25); }
    details[open] > summary:not(:focus) {
      color: var(--accordion-open-summary-color); }
    details[open] > summary::after {
      transform: rotate(0); }

[dir="rtl"] details summary::after {
  float: left; }

body {
  font-family: var(--fbrot);
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

body * {
  box-sizing: border-box; }

header {
  position: sticky;
  top: 0;
  /* Prevent transparent background-color! */
  background-color: white;
  padding: 2em; }

footer {
  padding: 2em; }

main {
  display: flex;
  flex: 1; }

nav {
  position: fixed;
  width: var(--sidebar-width);
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 2em; }
  nav summary:hover, nav details a:hover, nav details.active summary, nav details a.active {
    background-color: var(--nav-hover-bg);
    border-radius: 4px; }

article {
  margin-left: var(--sidebar-width);
  padding: 0 2em;
  flex-grow: 1; }

code {
  white-space: pre-wrap; }

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: var(--cgelb);
  text-decoration-thickness: 2px; }

nav details summary {
  padding: 0.5em;
  font-size: 16px;
  margin-bottom: 4px; }

nav details[open] summary {
  margin-bottom: 4px; }

nav details a {
  text-decoration: none;
  display: block;
  margin-left: 1em;
  padding: 0.5em;
  font-size: 16px;
  margin-bottom: 4px; }
  nav details a.active::before {
    content: "● ";
    color: var(--cgelb); }

a.logo {
  text-decoration: none; }
